html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  background-color: #5e17eb;
  color: white;
  font-weight: 500;
  justify-content: space-between;
}

.logo {
  margin-left: calc(1rem + 1vw);
}

.links {
  display: flex;
  list-style: none;
  align-items: center;
  text-align: right;
}

.links li {
  margin-right: calc(1rem + 2vw);
}

.body {
  padding: calc(3.25vw + 1rem);
}
